## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="/navigation.html"/>

## TODO: this will eventually be moved to the Sass
<%block name="navigation_logo">
  <img src="${static.url('themes/icollege/images/iCollege-logo.png')}" height="50" alt="iCollege" />
</%block>

<%block name="navigation_sign_in">
	<li><a href="">Blog</a></li>
	<li class="nav-courseware-01 my-class-test">
	  % if not settings.FEATURES['DISABLE_LOGIN_BUTTON']:
	      % if course and settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain:
	      <a class="cta cta-login" href="${reverse('course-specific-login', args=[course.id.to_deprecated_string()])}${login_query()}">${_("Sign in")}</a>
	      % else:
	      <a class="cta cta-login" href="/login${login_query()}">${_("Sign in")}</a>
	      % endif
	  % endif
	</li>
</%block>

