## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>
<!--
  from datetime import date
-->

<div class="container-fluid footer-extra">
  <div class="row custom-row">
    <div class="extra-logo-box">
      <img src="${static.url('themes/icollege/images/iCollege-logo.png')}" alt="Home Page" />
    </div>
    <div class="extra-menu-box">
      <ul class="list-unstyled text-right footer-extra-menu">
        <li><a href="/">HOME</a></li>
        <li><a href="#">QUALIFICATIONS</a></li>
        <li><a href="#">INSTITUTIONS</a></li>
        <li><a href="#">BLOG</a></li>
        <li><a href="/register">REGISTER</a></li>
        <li><a href="/login">LOG IN</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="wrapper-footer container-fluid">
  <footer class="row">
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
          <li><span>&copy; 2016 ProLearn Systems Ltd.</span></li>
          <li><a href="${reverse('about')}">About</a></li>
          <li><a href="${reverse('about')}#contact">Contact</a></li>
          <li><a href="${reverse('tos')}">Privacy Policy</a></li>
          <li><a href="${reverse('tos')}#terms">Terms & Conditions</a></li>
        </ol>
      </nav>
    </div>
    <div class="references social-media">
        <a class="twitter-tw" href="#"><i class="fa fa-twitter"></i></a>
        <a class="facebook-fb" href="#"><i class="fa fa-facebook-official"></i></a>
    </div>
  </footer>
</div>
